@if (get('notice', $components)) {

  .notice {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: size(xs) size(sm);
    border: 0.0625em solid;
    border-color: var(--color-border);
  }

  .notice-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .notice p {
    flex-grow: 1;
    text-shadow: var(--color-text-shadow);
  }

  .notice-footer {
    width: 100%;
    padding-top: size(xs);
  }

  /**
   * States
   */

  .notice--error {
    color: theme(danger-fg);
    background-color: theme(danger);
  }

  .notice--success {
    color: theme(success-fg);
    background-color: theme(success);
  }

  .notice--warn {
    color: theme(warn-fg);
    background-color: theme(warn);
  }

  /**
   * Shapes
   */

  .notice--rounded {
    border-radius: var(--size-rounded);
  }

}
