$utils: (
  display: true,
  layout: true,
  reset: true,
  skin: true,
  spacing: true,
  text: true
);

$components: (
  accordion: true,
  avatar: true,
  blockquote: true,
  bulletlist: true,
  button: true,
  card: true,
  cardlist: true,
  caret: true,
  carousel: true,
  checkbox: true,
  datatree: true,
  dropdown: true,
  hero: true,
  icon: true,
  image: true,
  input: true,
  list: true,
  media: true,
  menu: true,
  modal: true,
  nav-a: true,
  nav-b: true,
  nav-c: true,
  notice: true,
  pagination: true,
  pagination-b: true,
  picker: true,
  radio: true,
  sidebar: true,
  spinner: true,
  status: true,
  table: true,
  tabset: true,
  timeline: true,
  todo: true,
  toggle: true
);

